<div ng-show="selectedGroup">
Welcome in <strong>{{selectedGroup.name}}</strong> Group
<br />
  <button ng-click='show_addUser=true'>User</button>
  <button ng-click='show_addUser=false'>Update Groups</button>
  <button>Remove Groups</button>
  <br />
  
  <div ng-show="show_addUser">
    Group Users
    <span ng-repeat="user in groupUsers">{{user}}</span>
    <br />
    All users 
    <br />
    <input type="text" ng-model="filter_user">
    
  </div>
  <div ng-show="!show_addUser">
    Update Group
    <form>
      <>
  </div>
</div>
