var module = angular.module("UserProfile.directives", []);

module.directive("feed", function(){
  return {
    restrict: "A",
    replace: false,
    scope: {
      url: "=feed"
    },
    controller: FeedCtrl,
    link: function(scope, elt, attrs, controller) {
      scope.fetch();
    }
  };
});


module.directive("postForm", function() {
  return {
    restrict: "A",
    templateUrl: "<%= asset_path 'profile/post_form.html' %>",
    replace: false,
    scope: {
      url: "=postForm"
    },
    controller: PostFormCtrl,
    link: function(scope, elt, attrs, controller) {
    }
   };

});

module.directive("myTapp", function () {
    //CKEDITOR.replace("ck_editor", {extraPlugins: 'onchange'})
    return {
    	   restrict: "E",
	   template:'<span>asdasd</span>'
    //CKEDITOR.replace("ck_editor", {extraPlugins: 'onchange'})
     //   setTimeout(function () {
     //       CKEDITOR.replace("ck_editor", {extraPlugins: 'onchange'});

            //scope.$watch("layers[" + index + "].src", function () {
            //    if (!CKEDITOR.instances["editor-" + index]) return;
            //    if (scope[expression] == CKEDITOR.instances["editor-" + index].getData()) return;
            //    CKEDITOR.instances["editor-" + index].setData(scope[expression]);
            //});

            //CKEDITOR.instances["editor-" + index].on("change", function () {
            //   scope[expression] = CKEDITOR.instances["editor-" + index].getData();
            //    scope.$root.$eval();
            //});
    //    }, 0);
    };
});
