
<div id="container12" class="default7">
  <div class="container clearfix">

    <section class="section">
      <div class="row">
        <div class="width width-780 first">
          <div class="module white-shadow-block">

            <div id="tabsdfsa" ng-controller="InviteCtrl">
              <ul class="menu">
                <li title="facebook invite"><a href="">Facebook Invite</a></li>
 		<li title="Google invite"><a href="">Google Invite</a></li>
		<li title="Menual invite" view-tab-link><a href="#invites#menual">Menual Invite</a></li>
		
              </ul>
            </div>
	    
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

