
<form name="SocialInviteForm" method="POST" ng-submit="" csrf-tokenized class="form-horizontal">
  <fieldset>
    <legend>Invite to: </legend>
  
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Facebook</button>
      <button class="btn">Google</button>      
    </div>
  </fieldset>
</form>


<form name="MenualInviteForm" method="POST" ng-submit="" csrf-tokenized class="form-horizontal">
  <fieldset>
    <legend>Menual Invite to: </legend>

    Name: <input type="text" ng-model="" size="30" placeholder="Name">
    Email: <input class="btn-primary" type="text" size="30" placeholder="Email">
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Invite</button>
      
    </div>
  </fieldset>
</form>

